@model ConseilApp.Models.Recherche.RechercheModel
@{
    Layout = "~/Views/Shared/_master.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<div class="container-fluid">
    <div class="row-fluid" id="Attente">
        <h3>Les abonnées en attente de conseil</h3>
        @{Html.RenderPartial("_ListeEnAttente", Model.premiereListe);}
    </div>
    <div class="row-fluid" id="Soutien">
        <h3>Abonnés sollicitant votre aide</h3>
        @{Html.RenderPartial("_ListeEnSoutien", Model.deuxiemeListe);}
    </div>
</div>
