@using ConseilApp.Models;
@using ConseilApp.Helpers

@model List<NotificationViewModel>
@if (Model.Count > 0)
{
    <ul id="mycarousel" class="jcarousel jcarousel-skin-tango">
        @foreach (NotificationViewModel s in Model)
        {
            <li>
                @Html.NotifItem(@s)
            </li>
        }
    </ul>
}